### docker-compose.server.yml ###
version: '3'
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "9880:9880"  # Listens for trimmed events from client
    environment:
      - OUTPUT_TYPE=Elastic  # or Splunk
      - SPLUNK_HEC_URL=  # For Splunk HEC/UF
      - SPLUNK_HEC_TOKEN=
      - ELASTIC_URL=http://localhost:9200  # For Elastic API/Logstash/Agent
      - ELASTIC_INDEX=logs-ecs
      - BATCH_SIZE=1000
      - USE_ASYNC=True
      - CHUNK_SIZE=1000